html,
body,
#viewDiv {
  width: 100%;
  height: 98%;
  margin: 0;
  padding: 0;
}

#layermenu {
  padding: 0em;
}

#menu {
  padding: 1em;
}


/**********************
HEADER
************************/
/*A header is usually located at the top of the website 
(or right below a top navigation menu). It often contains a logo or 
the website name*/
.header {
  background-color: #0a0a0a;
  text-align: left;
  padding: 1px;
}

.img {
  border-radius: 80px;
  align-self: start;
}


/*add style for slides