html,
body,

#viewDiv {
padding: 0%;
margin: 0%;
height: 100%;
width: 100%;
}


#layermenu {
    padding: 1em;
  }

/**********************
HEADER
************************/
/*A header is usually located at the top of the website 
(or right below a top navigation menu). It often contains a logo or 
the website name*/
.header {
    background-color: #0a0a0a;
    text-align: left;
    padding: 2px;
  }
  
  .img {
    border-radius: 80px;
    align-self: start;
    padding: 1px;
  }
