html, body, 

#viewDiv {
  width: 100%;
  height: 95%;
  margin: 0;
  padding: 0;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}


/* HEADER */
.header {
  background-color: #eee;
  padding: 0;
  margin: 0;
  max-height: 15%;
}
/* Navbar links*/
.header a {
  float: left;
  color: #111010;
  text-align: bottom;
  padding: 0px 10px;
  text-decoration: none;
  font-size: 17px;
}
.header img {
  padding-top: 10px;
  align-items: center;
  background-position: center;
  width: 65%;
  height: auto;
}

/* Navbar button*/
.nav-button {
  padding: 0px;
  background-color: #eee;
  border: 1px solid #b9b7b7;
  color: #646363;
  height: 50px;
  width: 200px;
  text-align: bottom;
  box-shadow: 0 0 1px rgba(122, 122, 122, 0.3);
}




/* WIDGETS AND LAYER MENU*/
#layer-menu {
  padding: 1em;
}


#measurements {
  padding: 4px 8px;
  font-size: 16px;
  bottom: 15px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}


#topbar {
  background: #fff;
  padding: 10px;
}
.action-button {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #d3d3d3;
  color: #6e6e6e;
  height: 32px;
  width: 32px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.action-button:hover,
.action-button:focus {
  background: #0079c1;
  color: #e4e4e4;
}
.active {
  background: #0079c1;
  color: #e4e4e4;
}


/* SPLASH SCREEN*/
/* Modal container */
.modal {
  display: none;
  position: absolute;  /* Changed from absolute to fixed */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Modal content*/
.modal-content {
  position: relative; /*should change to fixed?*/
  background-color: #fefefe;
  /*margin: 15% auto;*/
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  z-index: 9999;
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 3D effect */
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -20px; /* Adjust the position slightly upwards */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Header */
.modal-content h2 {
  border-bottom: 1px solid #b9b7b7; /* Light grey border */
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Styles for text */
.modal-title {
  font-size: 24px;
  margin-bottom: 16px;
  color: #2e2d2d;
  font-weight: bold;
}

.modal-disclaimer-title,
.modal-guide-title {
  font-weight: bold; /* or text-decoration: underline; based on the preference */
  font-size: 17px;
}

.modal-disclaimer,
.modal-guide, 
.modal-info-list {
  font-size: 14px;
  line-height: 1.5;
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 12px;
  color: #393838;
}

.modal-link {
  color: #0079c1;
  font-size: 14px;
  text-decoration: underline;
}

.modal-info-list li {
  margin-bottom: 8px;
}

.modal-info-list li strong {
  font-weight: bold;
}

/* Tooltip Trigger */
.modal-tooltip-trigger {
  cursor: pointer;
  text-decoration: underline;
  color: #0079c1;
}

/* Tooltip Container */
.modal-tooltip {
  display: none;
  position: fixed; /*fixed vs. absolute position*/
  top: 70%; /* Center it vertically */
  left: 20%; /* Center it horizontally */
  transform: translate(-50%, -50%); /* Fine-tune the position, for example -50%, -10px */
  z-index: 2;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Tooltip Image */
.modal-tooltip img {
  max-width: 100%;
  height: auto;
}
