html, body, 

/*Basic Configuration of the main map window container */
#viewDiv {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  display: flex;
}

calcite-loader {
  align-self: center;
  justify-self: center;
}


#info-content {
  padding: 0.75rem;
}





/*///////////////////////////////////////////////*/
/*HEADER AND HEADER TITLE, LOGO AND BUTTON TO REDIRECT*/
/*//////////////////////////////////////////////*/

.header {
  background-color: #f9f7f7;
  padding: 10px;
  margin: 0;
  max-height: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #aba9a9;
}


#header-left { /*header-title*/
  margin-left: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
  margin-top: 0rem;
  max-height: fit-content;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  width: 45px;
  height: auto; /* Height will be set automatically */
  margin-right: 10px; /*0.75rem; Add some margin around the logo */
  margin-top: 0rem;
  align-items: center;
  justify-content: center;
}

#header-right {
  margin-left: auto;
  margin-right: 2rem;
}



/* Navbar links*/
/*.header a {
  float: left;
  color: #111010;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 15px;
  align-items: center;
}
.header img {
  float: left;
  padding-top: 0;
  align-items: center;
  background-position: center;
  width: 40%;
  height: auto;
}

/* Navbar button*/
/*.nav-button {
  padding: 0px;
  background-color: #ffffff;
  border: 1px solid #b9b7b7;
  color: #fffefe;
  height: 50px;
  width: 200px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8); /* 3D effect */
/*  border-radius: 12px; /* Rounded corners */ 
/*}*/

/*/////////////////////////////////////////////////////*/
/*HEADER AND HEADER TITLE, LOGO AND BUTTON TO REDIRECT*/
/*////////////////////////////////////////////////////*/

/* WIDGETS AND LAYER MENU*/
#layer-menu {
  padding: 1em;
}


#measurements {
  padding: 4px 8px;
  font-size: 16px;
  bottom: 15px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}


#topbar {
  position:absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  /*background: #fff;*/
  /*padding: 10px;*/
}
.action-button {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #d3d3d3;
  color: #6e6e6e;
  height: 32px;
  width: 32px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.action-button:hover,
.action-button:focus {
  background: #0079c1;
  color: #e4e4e4;
}
.active {
  background: #0079c1;
  color: #e4e4e4;
}

/*//////////////////////////////
 SPLASH SCREEN
///////////////////////////////*/
/*Splash container for Splash screen*/
.splash {
  display: none;
  position: fixed;  /* Changed from absolute to fixed otherwise the window jumped like rabbit*/
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Splash content of the Splash*/
.splash-content {
  position: relative; /*should change to fixed?*/
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  z-index: 9999;
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 3D effect */
}

/* Close button for Splash screen*/
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -20px; /* Adjust the position slightly upwards */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Header of the splash screen*/
.splash-content h2 {
  border-bottom: 1px solid #b9b7b7; /* Light grey border */
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Styles for text of splash screen*/
.splash-title {
  font-size: 24px;
  margin-bottom: 16px;
  color: #2e2d2d;
  font-weight: bold;
}

.splash-disclaimer-title,
.splash-guide-title {
  font-weight: bold; /* or text-decoration: underline; based on the preference */
  font-size: 17px;
}

.splash-disclaimer,
.splash-guide, 
.splash-info-list {
  font-size: 15px;
  line-height: 1.5;
  list-style-type: disc;
  padding-left: 30px;
  margin-bottom: 12px;
  color: #393838;
}

.splash-link {
  color: #0079c1;
  font-size: 11px;
  text-decoration: underline;
}

.splash-info-list li {
  margin-bottom: 8px;
}

.splasj-info-list li strong {
  font-weight: bold;
}

/* Tooltip Trigger */
.splash-tooltip-trigger {
  cursor: pointer;
  text-decoration: underline;
  color: #0079c1;
}

/* Tooltip Container */
.splash-tooltip {
  display: none;
  position: fixed; /*fixed vs. absolute position*/
  top: 70%; /* Center it vertically */
  left: 20%; /* Center it horizontally */
  transform: translate(-50%, -50%); /* Fine-tune the position, for example -50%, -10px */
  z-index: 2;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Tooltip Image */
.splash-tooltip img {
  max-width: 100%;
  height: auto;
}
