/*Lots of Selector Types, check out these links*/

/*  http://www.w3schools.com/cssref/css_selectors.asp */
/*  https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started/Selectors  */
/*  https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started/Selectors */
/*Class selectors start with a dot . */




.firstDiv{
  color: rgb(207, 20, 173);
}

.secondDiv{
  background-color: rgb(243, 235, 231);
}

/* Use an id to single out html elements*/

/* id selectors use a hashtag # */
#singledout{
  color: red;
  text-decoration: underline;
}

/*Use an asterisk to select all elements, it will be overwrite if you have id*/
/* *{
  color: rgb(9, 10, 9);
} */

/*Adjacent sibling: Elements that are next to each other*/
h3 + ul{
  border: 3px dotted purple;
}

/*Descendants*/
li a{
  color: rgb(9, 55, 182);
}

/*Attributes*/
li a[href="www.npr.org"]{
  color: rgb(249, 247, 247);
  background-color: black;
  padding: auto;
  border: 1px solid rgb(10, 10, 10);
}
