body{
  /* background: gray; */
  background: url(https://www.seiu1000.org/sites/main/files/main-images/camera_lense_0.jpeg);
  /* background: url(https://res.cloudinary.com/dtpgi0zck/image/upload/s--zOSmBEhk--/c_fit,h_580,w_860/v1/EducationHub/photos/pebble-beach.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

div{
  background: rgb(167, 167, 171);
  border: rgb(12, 85, 29);
  border-width: thick;
 /* border-width: 10px;  */
  border-style: dotted;

  }

p{
  color: rgb(234, 234, 238);
}
span{
  background: rgb(232, 221, 29);
  color: black;
}
